table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #0056b3;
}

th {
    background-color: #0056b3;
    color: white;
}

.generatePDF{
    
    background-color: #ffffff; /* Color de fondo rojo */
    color: #ffffff; /* Color del texto blanco */
    border: 2px solid #ff0000; /* Borde de 2 píxeles sólido rojo */
    padding: 5px 10px; /* Espaciado interior del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    text-decoration: none; /* Quita el subrayado de los enlaces si lo usas como enlace */
    height: 30px;
    width: 40px;

   
    
  }

  .btnBasura{
    background-color: #ff0000; /* Color de fondo rojo */
    color: #ffffff; /* Color del texto blanco */
    padding: 5px 10px; /* Espaciado interior del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    text-decoration: none; /* Quita el subrayado de los enlaces si lo usas como enlace */
    height: 30px;
    width: 40px;
  }