/* Estilo para el formulario */
form {
  max-width: 800px;
  margin: 150px auto 0; /* Agrega margen en la parte superior */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
  
  /* Estilo para los elementos en la primera columna */
  .form-column-1 {
    grid-column: 1;
  }
  
  /* Estilo para los elementos en la segunda columna */
  .form-column-2 {
    grid-column: 2;
  }
  
  /* Estilo para las etiquetas de los campos */
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Estilo para los campos de entrada */
  input[type="text"],
  input[type="num"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo para los mensajes de error */
  .errors-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  
  /* Estilo para el botón de enviar */
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .form-registro{
    color: rgb(65, 76, 240);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }